<h1>{{title}}</h1>
<br />
<form method="POST" id="signup-form" action="/signup">
<label>First Name:
    <input
      type="text"
      name="firstName"
      id="firstName"
      placeholder="Enter firstName"
      value="{{userInfo.firstName}}"
    />
</label>
    <br/>
    <label>Last Name:
    <input
      type="text"
      name="lastName"
      id="lastName"
      placeholder="Enter lastName"
      value="{{userInfo.lastName}}"
    />
    </label><br/>
  <label>User Name:
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Enter username"
      value="{{userInfo.username}}"
    />
  </label><br /><br />
  <label>Password:
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Enter password"
      value="{{userInfo.password}}"
    />
  </label><br /><br />
  <button type="submit">Submit</button>
</form>
<br />
<a href="/">Already have an account? Click here to log-in</a>

{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>
{{/if}}