
{{#each data}}
    <div class="card text-white bg-dark mb-3" style="max-width: 20cm;">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="{{this.displayPicture}}" class="img-fluid rounded-start" alt="from user image" onerror="this.onerror=null; this.src='../../public/js/default_user.png'">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">
                <a href="users/{{this.fromUserId}}">
                <span class="fs-3 ml-3">{{this.fromUser}}</span>
                </a>
            </h5>
            <label for="{{this.fromUser}} description">
                <p name="{{this.fromUser}} description" class="card-text">{{this.description}}</p>
            </label>
            <label for="{{this.fromUser}} interests">
                <p name="{{this.fromUser}} interests" class="card-text">{{this.interests}}</p>
            </label>
            <label for="{{this.fromUser}} age">
                <p name="{{this.fromUser}} age" class="card-text">{{this.age}}</p>
            </label>
            <label for="{{this.fromUser}} gender">
                <p name="{{this.fromUser}} gender" class="card-text">{{this.gender}}</p>
            </label>
        </div>
        </div>
    </div>
    </div>
{{/each}}