<h1>{{title}}</h1>
<br />
<form method="POST" id="signup-form" onsubmit="signUpUI(event)">
<label>First Name:
    <input
      type="text"
      name="signup-firstName"
      id="signup-firstName"
      placeholder="Enter firstName"
      value="{{userInfo.firstName}}"
        required
    />
</label>
    <br/>
    <label>Last Name:
    <input
      type="text"
      name="signup-lastName"
      id="signup-lastName"
      placeholder="Enter lastName"
      value="{{userInfo.lastName}}"
        required
    />
    </label><br/>
  <label>User Name:
    <input
      type="email"
      name="signup-username"
      id="signup-username"
      placeholder="Enter username"
      value="{{userInfo.username}}"
        required
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.edu$"
      title="Please enter an edu mail"
    />
  </label><br /><br />
  <label>Password:
    <input
      type="password"
      name="signup-password"
      id="signup-password"
      placeholder="Enter password"
      value="{{userInfo.password}}"
        required
      pattern= "^[a-zA-Z0-9@.!_].{5,20}$"
        title="Please include one uppercase, one  lowercase, one special character, one number and min length of 5 and max length of 20"
    />
  </label><br />

  <label>Gender:
   <input type="radio" name="gender" value="male" id="male">
            <label for="male">Male</label>
            <input type="radio" name="gender" value="female" id="female">
            <label for="female">Female</label>
            <input type="radio" name="gender" value="other" id="other">
            <label for="other">Other</label>
  </label><br />

 
  <label>Age:
    <input type="number" id="age" name="age" required>
    
  </label><br />

 <label>Interests: 
   <textarea id="interests" name="interests" rows="4" cols="30" required>
  </textarea> <br /> 
  </label>

  <label>description:
    <input type="text" id="description" name="description" required>
    
  </label><br />

  <label>genders:
    <input type="text" id="genders" name="genders" required>
    
  </label><br />

  <label>minAge:
    <input type="number" id="minAge" name="minAge" required>
    
  </label><br />

  <label>maxAge:
    <input type="number" id="maxAge" name="maxAge" required>
    
  </label><br />

<label for="displayPicture">Display Picture</label>
<input type="file" id="displayPicture" name="displayPicture" required onchange="LoadImage()">
<img id="displayPictureImg" height="150">
  <br /><br />
  <button type="submit">Submit</button>
</form>
<br />
<div id="server-error" class="error"></div>
<div id="login-error" class="error"></div>
<a href="/users/login">Already have an account? Click here to log-in</a>
