<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src={{displayPicture}}
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              
              {{#if sameUser}}
              <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                Edit profile
              </button>
              {{/if}}
            </div>
            <div class="ms-3" style="margin-top: 130px; color:#fff">
              <h5> <span style="color:white">{{firstName}} {{lastName}}</span> </h5>
              
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              {{#if isMatched}}
              <div class="px-3">
                <button type="text" class = "btn btn-success">Its a Match</button>
              </div>
              {{/if}}
              
              <div class="px-3">
                <p>{{message}}</p>
              </div>
                            
              {{#if isAccepted}}
              <div class="px-3">
                <button type="button" class = "btn btn-success">Accept</button>
              </div>
              {{/if}}
              {{#if isRejected}}
                <div>
                <button type="button" class = "btn btn-danger">Reject</button>
              </div>
              {{/if}}

            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                {{description}}
              </div>
            </div>
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Details</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                
                <p class="font-italic mb-1">Age:{{age}}</p>
                <p class="font-italic mb-1">Gender:{{gender}}</p>
                <p >Interested in: {{interests}}</p>
                
                
              </div>
            </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#!" class="text-muted">+</a></p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src={{displayPicture}}
                  alt="image 1" class="w-100 rounded-3">
              </div>
              
            </div>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Message
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send message to {{response.data.firstName}} {{response.data.lastName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="" id="messageModal" method="post"><!--url post-->
          <div class="modal-body">
            <div class="mb-3">
              <input type="hidden" value="{{id}}">
              <label for="message" class="form-label">Message</label>
              <input type="text" class="form-control" id="message" placeholder="Enter message here!" style="height: 3cm">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send</button>
          </div>
        </form>
    </div>
  </div>
</div>